<html>
<head>
  <title>水利地图数据demo</title>
  <script type="text/javascript" src="jquery-1.9.1.js"></script>
  <script type="text/javascript" src="jquery.qtip.js"></script>
  <script type="text/javascript" src="jquery.modal.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="stylesheet" type="text/css" href="jquery.qtip.css">
  <link rel="stylesheet" type="text/css" href="jquery.modal.css">
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
  <div id="map">
    <% @datas.each do|d| %>
      <div class="area" style="top:<%= d.top %>px;left:<%= d.left %>px;">
        <a href="/a" class="area-data"><%= d.name %><span><%= d.level %></span><span><%= d.status %></span></a>
        <div style="display:none;">
          <%= d.name %>&nbsp;<%= d.level %><br/>
          时间：<%= d.time %>
        </div>
      </div>
    <% end %>
    <div id="overview">
      <div class="main">
        <h3>汛情概述</h3>
        <ul>
          <li>当前河道超警戒的站点共<a href="/m1" >0</a>个</li>
          <li>当前水库超汛限的站点共<a href="/m2">0</a>个</li>
        </ul>
      </div>
      <a href="#" class="switch switch-rt"></a>
    </div>
    <div id="map-data">
      <div class="main">
        <div class="map-box">
          <p>
            <span>实时水情</span>
            <select>
              <option>今日水情</option>
              <option>昨日水情</option>
              <option>近3天水情</option>
            </select>
          </p>
          <table>
            <thead>
              <tr>
                <th>data1</th>
                <th>data2</th>
                <th>data3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th>data1</th>
                <th>data2</th>
                <th>data3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th>data1</th>
                <th>data2</th>
                <th>data3</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="#" class="switch switch-lb"></a>
      </div>
    </div>
  </div>
</body>
</html>
